In [1]:
import pandas as pd
import os 
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [4]:
#Importing .csv file , considering only two columns and printing them 


df = pd.read_csv(r'C:\Users\ADMIN\OneDrive\Desktop\NLP\spam.csv')
df = pd.DataFrame(df, columns= ['v1','v2'])
df.head()
print (df)

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will ï¿½_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [7]:
#Renaming coloumn 1 as label and coloumn 2 as text
df = df.rename(columns={"v1":"label","v2":"text"})

In [8]:
df.groupby("label").describe()

       text
      count unique                                                top freq
label
ham    4825   4516                             Sorry, I'll call later   30
spam    747    653  Please call our customer service representativ...    4

In [9]:
df.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [10]:
#labeling spam mails as 1 and ham mails as 0
df['spam'] = df['label'].map( {'spam': 1, 'ham': 0} ).astype(int)
df.head(15)

   label                                               text  spam
0    ham  Go until jurong point, crazy.. Available only ...     0
1    ham                      Ok lar... Joking wif u oni...     0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3    ham  U dun say so early hor... U c already then say...     0
4    ham  Nah I don't think he goes to usf, he lives aro...     0
5   spam  FreeMsg Hey there darling it's been 3 week's n...     1
6    ham  Even my brother is not like to speak with me. ...     0
7    ham  As per your request 'Melle Melle (Oru Minnamin...     0
8   spam  WINNER!! As a valued network customer you have...     1
9   spam  Had your mobile 11 months or more? U R entitle...     1
10   ham  I'm gonna be home soon and i don't want to tal...     0
11  spam  SIX chances to win CASH! From 100 to 20,000 po...     1
12  spam  URGENT! You have won a 1 week FREE membership ...     1
13   ham  I've been searching for the right words to tha...     0
14   ham                I HAVE A DATE ON SUNDAY WITH WILL!!     0

In [11]:
#applying length coloumn which shows the total length of the text
df['length'] = df['text'].apply(len)

In [12]:
df.head(10)

  label                                               text  spam  length
0   ham  Go until jurong point, crazy.. Available only ...     0     111
1   ham                      Ok lar... Joking wif u oni...     0      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1     155
3   ham  U dun say so early hor... U c already then say...     0      49
4   ham  Nah I don't think he goes to usf, he lives aro...     0      61
5  spam  FreeMsg Hey there darling it's been 3 week's n...     1     147
6   ham  Even my brother is not like to speak with me. ...     0      77
7   ham  As per your request 'Melle Melle (Oru Minnamin...     0     160
8  spam  WINNER!! As a valued network customer you have...     1     157
9  spam  Had your mobile 11 months or more? U R entitle...     1     154

In [13]:
df_ham = df[df["spam"]== 0].copy()
df_spam = df[df["spam"]== 1].copy()

In [14]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [15]:
from nltk.corpus import stopwords
stopwords.words("english")[:]

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [16]:
#function to remove stopwords and covert text into lowercase

def rm(sms):
    sms_no_punc = [ch for ch in sms if ch not in string.punctuation]
    sms_no_punc = "".join(sms_no_punc).split()
    
    sms_no_punc_no_stop = [word.lower() for word in sms_no_punc if word.lower() not in stopwords.words("english")]
    return sms_no_punc_no_stop

In [17]:
df['text'].apply(rm).head(10)

0    [go, jurong, point, crazy, available, bugis, n...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, 2, wkly, comp, win, fa, cup, fin...
3        [u, dun, say, early, hor, u, c, already, say]
4    [nah, dont, think, goes, usf, lives, around, t...
5    [freemsg, hey, darling, 3, weeks, word, back, ...
6    [even, brother, like, speak, treat, like, aids...
7    [per, request, melle, melle, oru, minnaminungi...
8    [winner, valued, network, customer, selected, ...
9    [mobile, 11, months, u, r, entitled, update, l...
Name: text, dtype: object

In [18]:
df["text"].apply(rm).head(15)

0     [go, jurong, point, crazy, available, bugis, n...
1                        [ok, lar, joking, wif, u, oni]
2     [free, entry, 2, wkly, comp, win, fa, cup, fin...
3         [u, dun, say, early, hor, u, c, already, say]
4     [nah, dont, think, goes, usf, lives, around, t...
5     [freemsg, hey, darling, 3, weeks, word, back, ...
6     [even, brother, like, speak, treat, like, aids...
7     [per, request, melle, melle, oru, minnaminungi...
8     [winner, valued, network, customer, selected, ...
9     [mobile, 11, months, u, r, entitled, update, l...
10    [im, gonna, home, soon, dont, want, talk, stuf...
11    [six, chances, win, cash, 100, 20000, pounds, ...
12    [urgent, 1, week, free, membership, ï¿½100000, p...
13    [ive, searching, right, words, thank, breather...
14                                       [date, sunday]
Name: text, dtype: object

In [21]:
def stemmer(text):
    text = text.split()
    words = ""
    for i in text:
        stemmer = PorterStemmer()
        words  +=(stemmer.stem(i))+ " "
    return words

In [22]:
df["text"].apply(stemmer).head(10)

0    go until jurong point, crazy.. avail onli in b...
1                         ok lar... joke wif u oni...
2    free entri in 2 a wkli comp to win fa cup fina...
3    u dun say so earli hor... u c alreadi then say...
4    nah i don't think he goe to usf, he live aroun...
5    freemsg hey there darl it' been 3 week' now an...
6    even my brother is not like to speak with me. ...
7    as per your request 'mell mell (oru minnaminun...
8    winner!! as a valu network custom you have bee...
9    had your mobil 11 month or more? u r entitl to...
Name: text, dtype: object

In [23]:
df.head(10)

  label                                               text  spam  length
0   ham  Go until jurong point, crazy.. Available only ...     0     111
1   ham                      Ok lar... Joking wif u oni...     0      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1     155
3   ham  U dun say so early hor... U c already then say...     0      49
4   ham  Nah I don't think he goes to usf, he lives aro...     0      61
5  spam  FreeMsg Hey there darling it's been 3 week's n...     1     147
6   ham  Even my brother is not like to speak with me. ...     0      77
7   ham  As per your request 'Melle Melle (Oru Minnamin...     0     160
8  spam  WINNER!! As a valued network customer you have...     1     157
9  spam  Had your mobile 11 months or more? U R entitle...     1     154

In [24]:
def rm_punc(text):
    new_text = ''.join([char for char in text if char not in string.punctuation])
    return new_text

In [27]:
df['new_text']=df['text'].apply(lambda row : rm_punc(row))

In [28]:
df.head(10)

,label,text,spam,length,new_text
0,ham,"Go until jurong point, crazy.. Available only ...",0,111,Go until jurong point crazy Available only in ...
1,ham,Ok lar... Joking wif u oni...,0,29,Ok lar Joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,1,155,Free entry in 2 a wkly comp to win FA Cup fina...
3,ham,U dun say so early hor... U c already then say...,0,49,U dun say so early hor U c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",0,61,Nah I dont think he goes to usf he lives aroun...
5,spam,FreeMsg Hey there darling it's been 3 week's n...,1,147,FreeMsg Hey there darling its been 3 weeks now...
6,ham,Even my brother is not like to speak with me. ...,0,77,Even my brother is not like to speak with me T...
7,ham,As per your request 'Melle Melle (Oru Minnamin...,0,160,As per your request Melle Melle Oru Minnaminun...
8,spam,WINNER!! As a valued network customer you have...,1,157,WINNER As a valued network customer you have b...
9,spam,Had your mobile 11 months or more? U R entitle...,1,154,Had your mobile 11 months or more U R entitled...

In [29]:
df['text'].apply(rm_punc).head(10)

0    Go until jurong point crazy Available only in ...
1                              Ok lar Joking wif u oni
2    Free entry in 2 a wkly comp to win FA Cup fina...
3          U dun say so early hor U c already then say
4    Nah I dont think he goes to usf he lives aroun...
5    FreeMsg Hey there darling its been 3 weeks now...
6    Even my brother is not like to speak with me T...
7    As per your request Melle Melle Oru Minnaminun...
8    WINNER As a valued network customer you have b...
9    Had your mobile 11 months or more U R entitled...
Name: text, dtype: object